/* In your global styles.css (not component scoped) */
.icon-large svg {
  width: 64px !important;
  height: 64px !important;
}

.lang-circle {
  width: 38px;
  height: 38px;
  background: #f7f7f7;
  border-radius: 35%;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 2px solid transparent;
  cursor: pointer;
  transition: all 0.2s ease;
}

/* Aktiv = grauer Rand + leichter Glow */
.lang-active {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.08);
  transform: translateY(-1px);
}

/* DE – Text mit Flaggen-Farbverlauf */
.lang-text-de {
  font-weight: 700;
  background: linear-gradient(
    to bottom,
    #000000 40%,
    #dd0000 40%,
    #ffb300 80%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* EN – Text mit UK-Farbverlauf */
.lang-text-en {
  font-weight: 700;
  background: linear-gradient(
    20deg,
    #002b7f 40%,   /* kräftigeres Royal Blue */
    #ffffff 0%, /* White (leicht zurückgenommen) */
    #cf142b 80% /* sattes UK-Red */ 
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



