<main class="flex flex-col h-screen">
  <app-dashboard-navbar></app-dashboard-navbar>

  <div class="flex flex-row flex-1 min-h-0">
    <app-sidebar></app-sidebar>
    <div class="p-2">
      <h1>Main content here</h1>
    </div>
  </div>
</main>


<!-- <main class="flex flex-col h-screen">

  <app-dashboard-navbar></app-dashboard-navbar>

  <div class="flex flex-row flex-1">

    <app-sidebar class="shrink-0"></app-sidebar>

    <div class="flex-1 p-6 overflow-auto">
      <h1>Content here</h1>
    </div>

  </div>
</main> -->
