@import "tailwindcss";

.rating-card {
  max-width: 500px;
  padding: auto; 
  margin: auto;
  margin-top: 5%;
  text-align: center;
  display: flex;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2%;
}

mat-icon {
  transform: scale(1.5);
  color: gray;
  cursor: pointer;
  transition: color 0.2s;
  align-items:center;
  justify-content: space-between;
}

mat-icon.active1 {
  color: lightgreen;
}

mat-icon.active2 {
  color: green;
}

mat-icon.active3 {
  color: darkgoldenrod;
}

mat-icon.active4 {
  color: orange;
}

mat-icon.active5 {
  color: red
}

mat-icon.active6 {
  color: black;
}   

.mat-card-actions{
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
}

.mat-flat-button{
  color: #00FFFF;

}

.mat-stroked-button{
  color: #008080;
}