@if(commitedRating == false){
<div class="rating-card flex flex-col rounded-lg p-6 mb-4 dark:bg-gray-800">
  <!-- Header -->
  <div class="mb-4">
    <h2 class="text-lg dark:text-white font-semibold">{{ questions[frage] }}</h2>
    <p class="text-sm dark:text-white">Bitte wähle eine Bewertung</p>
  </div>

  <!-- Content -->
  <div>
    @for (member of members; track $index) {
    <div class="mb-4">
      <h3 class="font-medium dark:text-white">{{ member.name }}</h3>
      <div class="rating">
        @for (val of [1,2,3,4,5,6]; track $index) {
        <button (click)="setRating(member.id, val)">
          <mat-icon
            [class.active1]="ratings[member.id] === 1 && val === 1"
            [class.active2]="ratings[member.id] === 2 && val === 2"
            [class.active3]="ratings[member.id] === 3 && val === 3"
            [class.active4]="ratings[member.id] === 4 && val === 4"
            [class.active5]="ratings[member.id] === 5 && val === 5"
            [class.active6]="ratings[member.id] === 6 && val === 6"
          >
            filter_{{ val }}
          </mat-icon>
        </button>
        }
      </div>
    </div>
    }
  </div>

  <!-- Actions -->
  <div class="mat-card-actions">
    <button
      class="text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 shadow-lg rounded-lg text-sm px-5 py-2.5 text-center"
      (click)="deleteAll()"
    >
      Zurücksetzen
    </button>

    <div>
      @if (frage == questions.length - 1) {
      <button
        class="text-white bg-gradient-to-r from-purple-500 via-purple-600 to-purple-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-purple-300 dark:focus:ring-purple-800 shadow-lg rounded-lg text-sm px-5 py-2.5 text-center"
        (click)="sendRating()"
      >
        Bewertung Abschicken
      </button>
      } @else {
      <button
        class="text-white bg-gradient-to-r from-purple-500 via-purple-600 to-purple-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-purple-300 dark:focus:ring-purple-800 shadow-lg rounded-lg text-sm px-5 py-2.5 text-center"
        (click)="submitRating()"
      >
        Naechste Frage
      </button>
      }
    </div>
  </div>
</div>
}@else{
  Bewertung Abgegeben
}

