<aside
  id="sidebar"
  [class.hidden]="!isCollapsed"
  class="fixed top-0 left-0 z-20 flex hidden lg:flex flex-col w-70 h-full pt-16 font-normal duration-75 transition-width"
>
  <div
    class="relative flex flex-col flex-1 min-h-0 bg-white border-r border-gray-200 dark:bg-gray-800 dark:border-gray-700"
  >
    <div
      class="flex-1 px-3 space-y-1 bg-white divide-y divide-gray-200 dark:bg-gray-800 dark:divide-gray-700"
    >
      <div class="flex flex-col flex-1 pt-5 overflow-y-auto">
        <ul class="pb-2 space-y-2">
          @for (item of menuItems; track $index) { @if (!item.subMenu) {
          <li>
            <a
              [routerLink]="item.route"
              class="flex items-center p-2 text-xl text-gray-900 rounded-lg hover:bg-gray-100 group dark:text-gray-200 dark:hover:bg-gray-700"
            >
              <mat-icon class="w-6 h-6">{{ item.icon }}</mat-icon>
              <span class="ml-3">{{ item.label }}</span>
            </a>
          </li>

          } @if (item.subMenu) {
          <li>
            <button
              type="button"
              class="flex items-center w-full p-2 text-base text-gray-900 transition duration-75 rounded-lg group hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-700"
              aria-controls="dropdown-layouts"
              data-collapse-toggle="dropdown-layouts"
            >
            <mat-icon                 class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 group-hover:text-gray-900 dark:text-gray-400 dark:group-hover:text-white"
>{{ item.icon }}</mat-icon>
              <span class="flex-1 ml-3 text-left whitespace-nowrap">{{ item.label }}</span>
              <svg
                sidebar-toggle-item
                class="w-6 h-6"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                  clip-rule="evenodd"
                ></path>
              </svg>
            </button>
            <ul id="dropdown-layouts" class="py-2 space-y-2">
              @for (item of item.subMenu; track $index) {
                <li>
                <a [routerLink]="item.route"
                  class="flex items-center p-2 text-base text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-700"
                  >
                  <mat-icon class="w-6 h-6">{{ item.icon }}</mat-icon>
              <span class="ml-3">{{ item.label }}</span>
                  </a
                >
              </li>
              }
            </ul>
          </li>
          } }
        </ul>
      </div>
    </div>
  </div>
</aside>
