<section>
    <div class="bg-neutral-900 p-2 px-4 pr-8 flex flex-row justify-between">
        <!-- navbar contents -->
        <div class="flex flex-row gap-2">
            <div class="text-white text-2xl p-3 cursor-pointer transition-colors flex justify-center items-center"
                (click)="onToggleSidebar()">
                <mat-icon>{{sidebarStatus === 'open' ? 'menu' : 'close'}}</mat-icon>
            </div>
            <div
                class="text-white text-xl p-3  cursor-pointer transition-colors flex justify-center items-center gap-4">
                <mat-icon>school</mat-icon>
                <span>Friedrich Ebert Schule</span>
            </div>
        </div>
        <div class="flex flex-row gap-2 justify-center items-center">
            <!-- dark and light mode toggle -->
            <div class="text-white p-3 hover:bg-gray-700 cursor-pointer transition-colors rounded-lg flex gap-4"
                (click)="changeTheme()">
                <mat-icon>{{ theme === 'dark' ? 'dark_mode' : 'light_mode' }}</mat-icon>
            </div>

            <!-- Profiel badge -->
            <div
                class="text-black textxl hover:bg-gray-700 hover:text-white cursor-pointer h-min rounded-full flex justify-center items-center gap-2 bg-white">
                <svg class="size-9" si-user-circle-icon></svg>
                <span class="mr-5 text-xl">{{username}}</span>
            </div>
        </div>
    </div>
</section>